<nav class="navbar navbar-expand-lg navbar-dark navbar-dark-shadow bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Indy Prieto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="resume.html">Resume</a></li>
                <li class="nav-item"><a class="nav-link" href="past-work.html">Past Work</a></li>
                <li class="nav-item"><a class="nav-link" href="ger.html">G.E.R.</a></li>
                <li class="nav-item"><a class="nav-link" href="cr.html">C.R.</a></li>
                <li class="nav-item"><a class="nav-link" href="ethics-statement.html">Ethics Statement</a></li>
            </ul>
        </div>
    </div>
</nav>